body {
    font-family: 'Open Sans', sans-serif;
    font-size: 23;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

#container {
    width: 600;
    height: 600;
	background-color: #c9ffc9;
    border-radius: 10px;
}

#header {
    font-size: 30;
	border-bottom: 1px solid #4ef279;
	border-radius: 5px;
	background-color: #4ef279;
	padding: 20px 40px;
}

.form {
    padding: 30px 40px
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form button {
	font-size: 30;
	background-color: #4ef279;
	border: none;
	border-radius: 4px;
	font-family: inherit;
	padding: 15px;
	
}

.form-control input {
	border: 2px solid black;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 20px;
	padding: 12px;
	width: 100%;
}

.form-control.success input {
	border-color: lightgreen;
	border-radius: 4px;
}

.form-control.error input {
	border-color: red;
	border-radius: 4px;
}

.form-control.error small {
	visibility: visible;
	color: red;
}

.form-control label {
	display: inline-block;
	margin-bottom: 10px;
}

.form-control small {
	visibility: hidden;
}