body {
    font-family: 'Open Sans', sans-serif;
    font-size: 23;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

#container {
    width: 600;
    height: 600;
    background-color: c9ffc9;
    border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	max-width: 100%;
}

#header {
    font-size: 30;
	border-bottom: 1px solid #4ef279;
	background-color: #4ef279;
	padding: 20px 40px;
}

.form {
    padding: 30px 40px
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

button {
    font-size: 30;
    background-color: #4ef279;
	border: 2px solid #4ef279;
	border-radius: 4px;
	color: black;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}